
<div class="wrapper" >
  <ng-include src="'views/header.html'"></ng-include>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">

    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Blank page
        <small>it all starts here</small>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">

   <!-- select -->
   <div class = "row">
   <div class="col-lg-4">
                  <div class="form-group">
                  <label>Апликација</label> 
               <!--  <select ng-model="Role.Role" class="form-control">
                    <option ng-repeat="role in roles">{{role.roleDescription}}</option>
                  </select> -->
                  <ui-select  ng-model="Application.ApplicationId"  class="pull-right" style="min-width: 340px; height: 30px"  theme="select2"  on-select="polni($select.selected.applicationId)" required>
                 <ui-select-match > {{$select.selected.applicationName}}</ui-select-match>
                 <ui-select-choices repeat="item.applicationId as item in application | filter: $select.search">
                    <small>
                      <spam  ng-bind-html="item.applicationName  | highlight: $select.search"></spam>
                    </small>
                  </ui-select-choices>
                </ui-select>​
                </div>
     </div>
   <div class="col-lg-8">
   </div>
   </div>
    <div class="row">
                <div class="col-lg-4">
                  <div class="form-group">
                  <label>Улоги</label> 
               <!--  <select ng-model="Role.Role" class="form-control">
                    <option ng-repeat="role in roles">{{role.roleDescription}}</option>
                  </select> -->
                  <ui-select  ng-model="Role.RoleID" class="pull-right" style="min-width: 340px; height: 30px"  theme="select2"  on-select="polniCombo($select.selected.roleId)" required>
                 <ui-select-match > {{$select.selected.roleDescription}}</ui-select-match>
                 <ui-select-choices repeat="item.roleId as item in roles | filter: $select.search">
                    <small>
                      <spam  ng-bind-html="item.roleDescription  | highlight: $select.search"></spam>
                    </small>
                  </ui-select-choices>
                </ui-select>​
                </div>
               </div>
               <div class="col-lg-4">
                 <div class="form-group">
                  <label>Привилегии</label>
                 <!--  <select class="form-control">
                    <option ng-repeat = "permission in permissions">{{permission.permissionDescription}}</option>
                  </select> -->
                 <ui-select  ng-model="Permission.PermissionId" class="pull-right" style="min-width: 340px; height: 30px"  theme="select2"  on-select="" required>
                 <ui-select-match > {{$select.selected.permissionDescription}}</ui-select-match>
                 <ui-select-choices repeat="item.permissionId as item in permissions | filter: $select.search">
                    <small>
                      <spam  ng-bind-html="item.permissionDescription  | highlight: $select.search"></spam>
                    </small>
                  </ui-select-choices>
                </ui-select>​
                </div>
               </div>
              <div class="col-lg-4">
            </div>
                <!-- /.col-lg-6 -->
    </div>
              <!-- /.row -->
              <div  class="col-lg-8">
                   <button type="button" class="btn btn-success pull-right " style="min-width: 100px; height: 30px" ng-click="ApplicationRolePermissionSave()">Зачувај</button>
              </div>


    </section>
    <div class="clearfix"></div>
  </div>
  <ng-include src="'views/footer.html'"></ng-include>
</div>